@font-face {
    font-family: "caviarDreams";
    src: url("../fonts/CaviarDreams-webfont.ttf");
}

@font-face {
    font-family: 'roboto';
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: 'robotoLight';
    src: url("../fonts/Roboto-Light.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');
