@import "fonts.css";
@import "colors.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'roboto';
}

.background {
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(81, 92, 100, .4), rgba(81, 92, 100, .4)), url("../img/photo.png") center;
    /* background-position: 5%; */
    filter: grayscale(95%);
    position: absolute;
    background-size: cover;
}

.relative {
    position: relative;
}

.maNav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.liens {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.liens a {
    text-transform: uppercase;
    border: solid 3px transparent;
    padding: 5px 10px;
    font-size: 0.9em;
}

.liens a:hover {
    border: solid 3px #4bcaff;
    color: #4bcaff;
    text-decoration: none;
}

.bigTitle {
    height: 85vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    color: white;
    font-family: 'caviarDreams';
}

.services {
    color: white;
}

.textService {
    font-size: .75em;
}

.titleBloc {
    font-family: "caviarDreams";
    text-transform: uppercase;
    font-size: 2em;
}

.monImage {
    height: 200px;
    margin-bottom: 15px;
}

.image1 {
    background: url("../img/image1.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.image2 {
    background: url("../img/image2.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.image3 {
    background: url("../img/image3.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.image4 {
    background: url("../img/image4.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.image5 {
    background: url("../img/image5.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.image6 {
    background: url("../img/image6.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.image7 {
    background: url("../img/image7.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.image8 {
    background: url("../img/image8.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.monFiltre {
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.monFiltre:hover {
    opacity: 1;
}

.monPlus {
    font-size: 3em;
}

.underlineBlack {
    border-bottom: solid black 1px;
}

.underlineWhite {
    border-bottom: white solid 1px;
}

.black {
    color: black;
}

.white {
    color: white;
}

.textDefault {
    font-size: 15px;
    line-height: 1.8em;
    font-family: 'robotoLight', Courier, monospace;
}

.visitMe {
    text-transform: uppercase;
    color: black;
    padding: 10px 35px;
    border: black solid 2px;
    font-size: .8em;
}

.visitMe:hover {
    color: white;
    text-decoration: none;
    border: white solid 2px;
}

.titleTwitter {
    font-size: 2em;
    font-family: 'robotoLight';
    text-transform: uppercase;
}

.fa-twitter {
    color: white;
    font-size: 2em;
}

.textTwitterTestimonials {
    font-size: 1.7em;
    font-family: 'robotoLight';
}

.john {
    background: linear-gradient(rgba(81, 92, 100, .4), rgba(81, 92, 100, .4)), url("../img/johnDoe.png")  no-repeat center ;
}

.logoReseau {
    font-size: 1.8em;
    padding: .6em;
    margin-right: 1em;
    border: white 2.5px solid;
    color: white;
}

.quote {
    font-size: 4em;
    font-family: 'Bitter', sans-serif;
    line-height: 50%;
}

.signature {
    color: #4bcaff;
}

.label {
    text-transform: uppercase;
    color: white;
}

input, textarea {
    background-color: transparent!important;
}

.monBtn {
    text-transform: uppercase;
    color: white; 
    background-color: #4bcaff!important;
    padding: 1.2em 0em;
    border: none;
}

.bg-contact {
    background:linear-gradient(rgba(81, 92, 100, .8), rgba(81, 92, 100, .8)), url("../img/contact.png") ;
    background-position: bottom -100px right 50%;
}

.footerNav {
    height: 15vh;
}

.liensFooter a {
    border-right: solid 1px #536169;
    color: #536169;
    padding: 0 10px;
}

#noBorder {
    border-right: none;
}

.footer {
    background-color: #353f47;
}

@media screen and (max-width:992px) {
    .services {
        height: 100%;
    }

    .bigTitle {
        font-size: 1.3em;
    }

    .portfolio {
        height: 100%;
    }

    iframe {
        display: none;
    }

    .maNav {
        height: auto;
    }

    .liens {
        margin-left: 0!important;
        width: 100%;
        align-items: center;
    }
}