@import "fonts.css";
@import "colors.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'roboto';
}

.background {
    height: 100vh;
    width: 100%;
    background: url("../img/photo.png");
    /* background-position: 5%; */
    filter: grayscale(1);
    position: absolute;
}

.relative {
    position: relative;
}

.maNav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.liens {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.liens a {
    text-transform: uppercase;
    border: solid 3px transparent;
    padding: 5px 10px;
    font-size: 0.9em;
}

.liens a:hover {
    border: solid 3px #4bcaff;
    color: #4bcaff;
    text-decoration: none;
}

.bigTitle {
    height: 85vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
}

.services {
    height: 40vh;
    color: white;
}

.textService {
    font-size: .75em;
}

.portfolio {
    height: 80vh;
}


@media screen and (max-width:992px) {
    .services {
        height: 100%;
    }

    .bigTitle {
        font-size: 1.3em;
    }
}

.titleBloc {
    font-family: "caviarDreams";
    text-transform: uppercase;
    font-size: 2em;
}

.underlineBlack {
    border-bottom: solid black 1px;
}

.underlineWhite {
    border-bottom: white solid 1px;
}

.black {
    color: black;
}

.white {
    color: white;
}

.default {
    height: 45vh;
}

.textDefault {
    font-size: 15px;
    line-height: 1.8em;
    font-family: 'robotoLight', Courier, monospace;
}

.visitMe {
    text-transform: uppercase;
    color: black;
    padding: 10px 35px;
    border: black solid 2px;
    font-size: .8em;
}